@{
    ViewBag.Title = "Web Kakaibo";
}

    <div class="jumbotron">
        <h2>削除</h2>
        <p class="lead">登録済みのデータの削除を行います。</p>
        <p><a class="btn btn-primary btn-lg" @Html.ActionLink("Web家計簿TOPへ", "Index", "Main")</a></p>
    </div>