@{
    ViewBag.Title = "Web Kakaibo";
}

    <div class="jumbotron">
        <h2>現在状況</h2>
        <p class="lead">現在の状況です。</p>
        <p><a class="btn btn-primary btn-lg" @Html.ActionLink("Web家計簿TOPへ", "Index", "Main")</a></p>
    </div>